<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAS.SharePoint.Tools.SPExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CAS.SharePoint.Tools.SPExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CAS.SharePoint.Tools.SPExplorer.Properties.Settings>
            <setting name="LinqEntitiesClassName" serializeAs="String">
                <value>Entities</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Parameters.xml</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://cas_sp:11225/sites/ipr</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>IPRARCHIV</value>
            </setting>
            <setting name="SQLScriptFileName" serializeAs="String">
                <value>SQLScriptFileName</value>
            </setting>
            <setting name="InludeHidden" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupName" serializeAs="String">
                <value>CAS</value>
            </setting>
            <setting name="SelectedColumns" serializeAs="String">
                <value>Author,Created,Editor,ID,Modified,owshiddenversion</value>
            </setting>
            <setting name="DropTableSQLScriptFileName" serializeAs="String">
                <value>DropTableSQLScriptFileName</value>
            </setting>
            <setting name="SQlLDropScriptFileName" serializeAs="String">
                <value>SQlLDropScriptFileName</value>
            </setting>
        </CAS.SharePoint.Tools.SPExplorer.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <CAS.SharePoint.Tools.SPExplorer.Properties.Settings>
            <setting name="TreeViewIconClassFriend" serializeAs="String">
                <value>imgs\Class-Friend_491.png</value>
            </setting>
            <setting name="TreeViewIconList" serializeAs="String">
                <value>imgs\list_16xLG.png</value>
            </setting>
            <setting name="TreeViewRoot" serializeAs="String">
                <value>imgs\TreeView_713.png</value>
            </setting>
            <setting name="TreeViewTreeField" serializeAs="String">
                <value>imgs\field_16xLG.png</value>
            </setting>
        </CAS.SharePoint.Tools.SPExplorer.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
