<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAS.SharePoint.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Microsoft.SharePoint.Linq.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CAS.SharePoint.Client.Properties.Settings>
            <setting name="CAS_SharePointClientWebService_ServiceModel_Lists"
                serializeAs="String">
                <value>http://casas:11227/sites/awt/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="EvenlLogSource" serializeAs="String">
                <value>CAS SharePoint Client Context</value>
            </setting>
            <setting name="ActivitiesLogsUserNamePattern" serializeAs="String">
                <value>{0} at {1}</value>
            </setting>
        </CAS.SharePoint.Client.Properties.Settings>
        <Microsoft.SharePoint.Linq.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://casmp/sites/S43/Lists</value>
            </setting>
        </Microsoft.SharePoint.Linq.Properties.Settings>
    </applicationSettings>
</configuration>